In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Barrow,US,2022-12-19 01:00:37,71.2906,-156.7887,12.22,85,23,8.05
1,1,Rikitea,PF,2022-12-19 01:00:44,-23.1203,-134.9692,77.65,81,100,13.53
2,2,Bambous Virieux,MU,2022-12-19 01:00:38,-20.3428,57.7575,76.21,78,61,13.24
3,3,Oranjemund,NaN,2022-12-19 00:59:40,-28.5500,16.4333,64.98,85,96,8.66
4,4,Ust-Maya,RU,2022-12-19 01:04:06,60.4167,134.5333,-29.81,96,100,3.02

In [3]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]


# 2. Assign the weights variable to some values (Get the maximum temperature.)
max_temp = city_data_df["Max Temp"]


# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.4)

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heatmap_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], 
                                    dissipating=False, max_intensity=225, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heatmap_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 95

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Rikitea,PF,2022-12-19 01:00:44,-23.1203,-134.9692,77.65,81,100,13.53
2,2,Bambous Virieux,MU,2022-12-19 01:00:38,-20.3428,57.7575,76.21,78,61,13.24
5,5,Busselton,AU,2022-12-19 01:00:26,-33.6500,115.3333,78.17,41,5,7.58
10,10,Acarau,BR,2022-12-19 01:01:14,-2.8856,-40.1200,78.87,75,100,14.07
14,14,San Juan,AR,2022-12-19 01:02:42,-31.5375,-68.5364,83.05,24,16,7.05
20,20,Butaritari,KI,2022-12-19 01:00:17,3.0707,172.7902,81.36,79,11,16.73
25,25,Geraldton,AU,2022-12-19 01:04:15,-28.7667,114.6000,91.81,15,5,24.16
31,31,Kununurra,AU,2022-12-19 01:03:02,-15.7667,128.7333,80.58,83,40,4.61
33,33,Vaini,TO,2022-12-19 01:00:28,-21.2000,-175.2000,79.11,74,2,10.69
40,40,Atuona,PF,2022-12-19 01:00:32,-9.8000,-139.0333,78.17,79,100,18.16

In [12]:
# Determine the null values
preferred_cities_df.count()

City_ID       209
City          209
Country       209
Date          209
Lat           209
Lng           209
Max Temp      209
Humidity      209
Cloudiness    209
Wind Speed    209
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
1           Rikitea      PF     77.65 -23.1203 -134.9692
2   Bambous Virieux      MU     76.21 -20.3428   57.7575
5         Busselton      AU     78.17 -33.6500  115.3333
10           Acarau      BR     78.87  -2.8856  -40.1200
14         San Juan      AR     83.05 -31.5375  -68.5364
20       Butaritari      KI     81.36   3.0707  172.7902
25        Geraldton      AU     91.81 -28.7667  114.6000
31        Kununurra      AU     80.58 -15.7667  128.7333
33            Vaini      TO     79.11 -21.2000 -175.2000
40           Atuona      PF     78.17  -9.8000 -139.0333

In [14]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [15]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()

    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        print("hotel correctly added")
    except (IndexError):
        print("Hotel not found... skipping.")

hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
Hotel not found... skipping.
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
Hotel not found... skipping.
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
Hotel not found... skipping.
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
Hotel not found... skipping.
hotel correctly added
Hotel not found... skipping.
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
Hotel not found... skipping.
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added

In [16]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Rikitea,PF,77.65,-23.1203,-134.9692,People ThankYou
2,Bambous Virieux,MU,76.21,-20.3428,57.7575,Casa Tia Villa
5,Busselton,AU,78.17,-33.6500,115.3333,Observatory Guest House
10,Acarau,BR,78.87,-2.8856,-40.1200,castelo pizzaria
14,San Juan,AR,83.05,-31.5375,-68.5364,Hotel Provincial
...,...,...,...,...,...,...
907,Alyangula,AU,87.85,-13.8483,136.4192,Groote Eylandt Lodge
914,Rantepao,ID,78.66,-2.9701,119.8978,Hotel Luta Resort
925,Ambon,ID,84.34,-3.6954,128.1814,Swiss-Belhotel Ambon
928,Bontang,ID,82.65,0.1333,117.5000,KOPKAR Hotel Bintang Sintuk
929,Maumere,ID,81.43,-8.6199,122.2111,Sylvia Hotel

In [18]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [20]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))