# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import Google API key
from config3 import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [4]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../WeatherPy_database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv(file_path)

# Display sample data
city_data_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
0,0,Kaitangata,NZ,-46.2817,169.8464,62.60,56,0,12.80,clear sky
1,1,Teguise,ES,29.0605,-13.5640,61.02,72,20,9.22,few clouds
2,2,Beyneu,KZ,45.3167,55.2000,15.82,58,93,21.16,overcast clouds
3,3,Naze,JP,28.3667,129.4833,54.52,64,1,8.66,clear sky
4,4,Punta Arenas,CL,-53.1500,-70.9167,59.11,51,0,6.91,clear sky
5,5,Divo,CI,5.8397,-5.3600,74.98,85,68,3.49,broken clouds
6,6,Martil,MA,35.6166,-5.2752,58.96,67,0,9.22,clear sky
7,7,Lazdijai,LT,54.2333,23.5167,27.88,95,97,11.41,overcast clouds
8,8,Kavaratti,IN,10.5669,72.6420,81.05,64,2,6.93,clear sky
9,9,Chebsara,RU,59.2002,38.8356,0.75,98,98,6.15,overcast clouds

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [5]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("What is the minimum temperature you would like for your trip? "))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 95

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [6]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
                                    
# Display sample data
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
8,8,Kavaratti,IN,10.5669,72.6420,81.05,64,2,6.93,clear sky
16,16,Muisne,EC,0.6000,-80.0333,76.82,79,58,7.72,broken clouds
17,17,Atuona,PF,-9.8000,-139.0333,78.08,77,36,14.18,scattered clouds
23,23,Puerto Ayora,EC,-0.7393,-90.3518,75.54,93,27,4.00,scattered clouds
24,24,Cabo San Lucas,MX,22.8909,-109.9124,79.90,65,0,4.61,clear sky
25,25,Bowen,AU,-20.0167,148.2333,80.76,72,98,10.67,overcast clouds
26,26,Kilindoni,TZ,-7.9139,39.6668,81.01,78,44,10.36,scattered clouds
33,33,Karratha,AU,-20.7377,116.8463,81.23,64,57,21.09,broken clouds
38,38,Parkes,AU,-33.1333,148.1833,75.83,35,0,3.09,clear sky
39,39,Rikitea,PF,-23.1203,-134.9692,78.30,74,1,14.12,clear sky

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [9]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities = preferred_cities_df.dropna()

# Display sample data
clean_travel_cities

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
8,8,Kavaratti,IN,10.5669,72.6420,81.05,64,2,6.93,clear sky
16,16,Muisne,EC,0.6000,-80.0333,76.82,79,58,7.72,broken clouds
17,17,Atuona,PF,-9.8000,-139.0333,78.08,77,36,14.18,scattered clouds
23,23,Puerto Ayora,EC,-0.7393,-90.3518,75.54,93,27,4.00,scattered clouds
24,24,Cabo San Lucas,MX,22.8909,-109.9124,79.90,65,0,4.61,clear sky
...,...,...,...,...,...,...,...,...,...,...
687,687,Touros,BR,-5.1989,-35.4608,79.23,78,91,12.28,overcast clouds
691,691,Novo Oriente,BR,-5.5344,-40.7742,79.95,39,34,1.07,scattered clouds
693,693,Oranjestad,AW,12.5240,-70.0270,75.90,94,75,18.41,broken clouds
694,694,Trinidad,BO,-14.8333,-64.9000,89.58,58,20,0.00,few clouds
697,697,Mulchen,CL,-37.7167,-72.2333,80.46,39,23,5.21,few clouds

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [11]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = clean_travel_cities[["City", "Country", "Max Temp", "Description", "Lat", "Lng"]].copy()

# Display sample data
hotel_df

               City Country  Max Temp       Description      Lat       Lng
8         Kavaratti      IN     81.05         clear sky  10.5669   72.6420
16           Muisne      EC     76.82     broken clouds   0.6000  -80.0333
17           Atuona      PF     78.08  scattered clouds  -9.8000 -139.0333
23     Puerto Ayora      EC     75.54  scattered clouds  -0.7393  -90.3518
24   Cabo San Lucas      MX     79.90         clear sky  22.8909 -109.9124
..              ...     ...       ...               ...      ...       ...
687          Touros      BR     79.23   overcast clouds  -5.1989  -35.4608
691    Novo Oriente      BR     79.95  scattered clouds  -5.5344  -40.7742
693      Oranjestad      AW     75.90     broken clouds  12.5240  -70.0270
694        Trinidad      BO     89.58        few clouds -14.8333  -64.9000
697         Mulchen      CL     80.46        few clouds -37.7167  -72.2333

[155 rows x 6 columns]

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [12]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df["Hotel Name"] = ""

# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
8,Kavaratti,IN,81.05,clear sky,10.5669,72.6420,
16,Muisne,EC,76.82,broken clouds,0.6000,-80.0333,
17,Atuona,PF,78.08,scattered clouds,-9.8000,-139.0333,
23,Puerto Ayora,EC,75.54,scattered clouds,-0.7393,-90.3518,
24,Cabo San Lucas,MX,79.90,clear sky,22.8909,-109.9124,
25,Bowen,AU,80.76,overcast clouds,-20.0167,148.2333,
26,Kilindoni,TZ,81.01,scattered clouds,-7.9139,39.6668,
33,Karratha,AU,81.23,broken clouds,-20.7377,116.8463,
38,Parkes,AU,75.83,clear sky,-33.1333,148.1833,
39,Rikitea,PF,78.30,clear sky,-23.1203,-134.9692,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [13]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [16]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params=params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        print("hotel correctly added")
    except (IndexError):
        print("Hotel not found... skipping.")

hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
Hotel not found... skipping.
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
Hotel not found... skipping.
hotel correctly added
hotel correctly added
Hotel not found... skipping.
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
Hotel not found... skipping.
hotel correctly added
Hotel not found... skipping.
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
Hotel not found... skipping.
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
Hotel not found... skipping.
Hotel not found... skipping.
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
Hotel not found... skipping.
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added
hotel correctly added

In [21]:
# Display sample data
hotel_df

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
8,Kavaratti,IN,81.05,clear sky,10.5669,72.6420,Green leaf
16,Muisne,EC,76.82,broken clouds,0.6000,-80.0333,Quinta Samay
17,Atuona,PF,78.08,scattered clouds,-9.8000,-139.0333,Villa Enata
23,Puerto Ayora,EC,75.54,scattered clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
24,Cabo San Lucas,MX,79.90,clear sky,22.8909,-109.9124,Hotel Tesoro
...,...,...,...,...,...,...,...
687,Touros,BR,79.23,overcast clouds,-5.1989,-35.4608,INN NEW HORIZON
691,Novo Oriente,BR,79.95,scattered clouds,-5.5344,-40.7742,Jardins do sertão hotel
693,Oranjestad,AW,75.90,broken clouds,12.5240,-70.0270,Divi Village Golf & Beach Resort
694,Trinidad,BO,89.58,few clouds,-14.8333,-64.9000,Hotel Piesta
697,Mulchen,CL,80.46,few clouds,-37.7167,-72.2333,Hotel Los Maitenes de Villalón

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [22]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()

# Display sample data
clean_hotel_df

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
8,Kavaratti,IN,81.05,clear sky,10.5669,72.6420,Green leaf
16,Muisne,EC,76.82,broken clouds,0.6000,-80.0333,Quinta Samay
17,Atuona,PF,78.08,scattered clouds,-9.8000,-139.0333,Villa Enata
23,Puerto Ayora,EC,75.54,scattered clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
24,Cabo San Lucas,MX,79.90,clear sky,22.8909,-109.9124,Hotel Tesoro
...,...,...,...,...,...,...,...
687,Touros,BR,79.23,overcast clouds,-5.1989,-35.4608,INN NEW HORIZON
691,Novo Oriente,BR,79.95,scattered clouds,-5.5344,-40.7742,Jardins do sertão hotel
693,Oranjestad,AW,75.90,broken clouds,12.5240,-70.0270,Divi Village Golf & Beach Resort
694,Trinidad,BO,89.58,few clouds,-14.8333,-64.9000,Hotel Piesta
697,Mulchen,CL,80.46,few clouds,-37.7167,-72.2333,Hotel Los Maitenes de Villalón

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [ ]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [23]:
# Set the file name.
output_data_file = "WeatherPy_vacation.csv"

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [26]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Description} and {Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [27]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>Green leaf</dd>\n<dt>City</dt><dd>Kavaratti</dd>\n<dt>Country</dt><dd>IN</dd>\n<dt>Current Weather</dt><dd>clear sky and 81.05 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Quinta Samay</dd>\n<dt>City</dt><dd>Muisne</dd>\n<dt>Country</dt><dd>EC</dd>\n<dt>Current Weather</dt><dd>broken clouds and 76.82 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Villa Enata</dd>\n<dt>City</dt><dd>Atuona</dd>\n<dt>Country</dt><dd>PF</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 78.08 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Finch Bay Galapagos Hotel</dd>\n<dt>City</dt><dd>Puerto Ayora</dd>\n<dt>Country</dt><dd>EC</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 75.54 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Tesoro</dd>\n<dt>City</dt><dd>Cabo San Lucas</dd>\n<dt>Country</dt><dd>MX</dd>\n<dt>Current Weather</dt><dd>clear sky and 79.9 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Castle Motor Lodge Motel</dd>\n<dt>City</dt><dd>Bowen</dd>\n<dt>Country</dt><dd>AU</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 80.76 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Bustani B&B</dd>\n<dt>City</dt><dd>Kilindoni</dd>\n<dt>Country</dt><dd>TZ</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 81.01 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>ibis Styles Karratha</dd>\n<dt>City</dt><dd>Karratha</dd>\n<dt>Country</dt><dd>AU</dd>\n<dt>Current Weather</dt><dd>broken clouds and 81.23 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Station Motel</dd>\n<dt>City</dt><dd>Parkes</dd>\n<dt>Country</dt><dd>AU</dd>\n<dt>Current Weather</dt><dd>clear sky and 75.83 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>People ThankYou</dd>\n<dt>City</dt><dd>Rikitea</dd>\n<dt>Country</dt><dd>PF</dd>\n<dt>Current Weather</dt><dd>clear sky and 78.3 °F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [28]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

        Lat       Lng
8   10.5669   72.6420
16   0.6000  -80.0333
17  -9.8000 -139.0333
23  -0.7393  -90.3518
24  22.8909 -109.9124
25 -20.0167  148.2333
26  -7.9139   39.6668
33 -20.7377  116.8463
38 -33.1333  148.1833
39 -23.1203 -134.9692

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [30]:
# Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Create a figure to add the Google map as a layer
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)

# Display the figure containing the map
fig

Figure(layout=FigureLayout(height='420px'))